/* Add your CSS to this file */

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}


body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*Section 2*/

nav a {
    text-decoration: none;
    color: #6b7280;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    
}

nav a:hover {
    color: #5A67D8;
}


/*Section 3*/

header {
    background-color: white;
}
header .container { /*controls spacing in overview-hero section*/
    padding: 30px;
    
}

.overview-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      
}
.overview-hero .container {
    background-color: #E2E8F0;
    padding: 25px;
    
}
.overview-hero-image img{
    width: 200px;
    height: 130px;
    border-radius: 5%;
    text-align: center;
}
.overview-hero-text {
    flex: 1;
    padding: 20px;
    max-width: 70%;
    
}

/*Section 4*/

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
}

.learn-about .container {  
    flex-direction: column;
}
/*Here I am overwriting the container as it was set to display its children in default row before*/

.learn-about .card {
    padding: 10px;
    margin: 10px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: #E2E8F0;
    border-radius: 5px;
}

.learn-about .card img{
    width: 170px;
    height: 220px;
}
.learn-about .card-body h3 {
    color: #48BB78;
    font-size: 21px;
}

.learn-about .container h2 {
    color: #48BB78;
    font-size: 24px;
    align-self: flex-start;
    
}

/*Section 5*/

.testing .container { /*container rough work*/
    background-color: #4A5568;
    width: 1200px;
    height: 250px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px; /*allowing section room to breathe*/
    margin-bottom: 50px;
}
.testing .container .testing-desciption { /*words div h2 and p*/
    max-width: 65%;
}

.testing .container .testing-desciption h2 {
    color: white;
}
.testing .container .testing-desciption p {
    color: white;
}
.testing .container .cta {  /*button*/
    background-color: #48BB78;
    border: none;
    border-radius: 5px;
    padding: 18px 45px;
    width: 100px; 
}

.testing .container .cta:hover {
    background-color: bisque;
}


.cta a.btn {
    text-decoration: none;
    color: white;
     
}

/*Section 6*/

.stories .container { /*overwriting the container default flex direction which is row*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stories .container h2 {
    align-self: flex-start;
    color: #5A67D8;
}

.stories .container img { /*adding styles to our photos to have them rounded and spaced from text*/
    width: 170px;
    height: 170px;
    border-radius: 110px;
    padding: 30px;
}

article { /*targetting our two articles to have them display their children in a row*/
    display: flex;
    flex: row;
    margin-bottom: 20px;
}

article .article-body a { /*removing underline from link*/
    text-decoration: none;
    color: #5A67D8;
}

article .article-body h3 {
    font-size: 18px;
}

/*Section 7*/

.newsletter .container { /*Again, overwriting our newsletter so its children can be vertical*/
    flex-direction: column;
    background-color: #48BB78;
    width: 1200px;
    height: 250px;
    
}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

.newsletter .container .btn {
    background-color: #5A67D8;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    color: white;
}

form input {
    width: 350px;
    height: 40px;
    margin: 10px;
    
}

.newsletter .container h3{
    color: white;
}
.newsletter .container p{
    color: white;
    max-width: 50%;
}

footer .container {
    background-color: #4A5568;
    
    
    
}
footer .container p{
    color: white;
    margin-left:  60px;
    
    
}