/* Add your CSS to this file */


body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;
    
}
/*Section 2*/

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    
}

/*Section 3*/

.overview-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.overview-hero-image img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    text-align: center;
    max-width: 100%;
    
         
}
.overview-hero-text {
    flex: 1;
    padding: 20px;
    
}

/*Section 4*/

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
}

.learn-about .container {  
    flex-direction: column;
}
/*Here I am overwriting the container as it was set to display its children in default row before*/

.learn-about .card {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    
}

.learn-about .card img{
    width: 150px;
    height: 150px;
}
.learn-about .card-body h3 {
    color: aquamarine;
}

.learn-about .container h2 {
    color: aquamarine;
    align-self: flex-start;
    
}

/*Section 5*/

.testing .container { /*container rough work*/
    background-color: darkblue;
    width: 1200px;
    height: 250px;
    padding-left: 40px;
    padding-right: 40px;
}
.testing .container .testing-desciption { /*words div h2 and p*/
    max-width: 65%;
}

.testing .container .testing-desciption h2 {
    color: white;
}
.testing .container .testing-desciption p {
    color: white;
}
.testing .container .cta {  /*button*/
    background-color: lawngreen;
    border: none;
    border-radius: 5px;
    padding: 18px 45px;
    width: 100px; 
}

.testing .container .cta:hover {
    background-color: bisque;
}


.cta a.btn {
    text-decoration: none;
    color: white;
     
}

/*Section 6*/


